  <div class="wrapper">
   <div class="container form">
        <%= simple_form_for [@article] do |f| %>
        <%= f.input :author, label: 'Nome do autor', error: 'Nome obrigatório. Por favor, digite um nome'%>
        <%= f.input :email %>
        <%= f.input :title, label: 'Título do artigo', error: 'Título do artigo obrigatório. Por favor, digite um título' %>
        <%= f.input :content,  label: 'Conteúdo do artigo', error: 'Conteúdo obrigatório. Por favor, escreva um conteúdo.', placeholder: 'Nesse espaço, escreva seu artigo...' %>
        <h5> Abaixo, selecione sobre que assunto é seu artigo:</h5>
        <%= f.input :dog_key, label: ' cachorros' %>
        <%= f.input :cat_key, label: ' gatos' %>
        <%= f.input :product_key, label: ' produtos para pets' %>
        <%= f.input :pet_key, label: ' pets em geral' %>
        <%= f.input :photo, label: "Foto do artigo" %>
        <%= f.submit "Cadastrar artigo", class: "btn btn-primary" %>
        <% end %>
  </div>
</div>
