<div class="container title">
    <%= @article.title.upcase %>
</div>
<div class="container author">
    <%= @article.author.capitalize %>
</div>
<div style="height: 25px"></div>
<div class="container keys">
    <p> Este artigo refere-se a...</p>
    <span>
            <% if @article.dog_key %>
            <i class="fas fa-dog"></i>
            <% else %> <span></span>
    <% end %>
    <% if @article.cat_key %><i class="fas fa-cat"></i>
    <% else %> <span></span>
    <% end %>
    <% if @article.product_key %><i class="fas fa-box-open"></i>
    <% else %> <span></span>
    <% end %>
    <% if @article.pet_key %><i class="fas fa-paw"></i>
    <% else %> <span></span>
    <% end %>
    </span>
</div>
<div style="height: 25px"></div>
<div class="container content">
    <%= @article.content %>
</div>
<div class="review">
    <h2> Reviews </h2>
    <%= button_to "Escrever Review", new_article_review_path(@article), method: :get %>
    <% @article.reviews.each do |review| %>
    <div> <p>Review feita por <b> <%= review.name.capitalize %> </b></p>
    </div>
    <div>
      <span>Como <b> <%= review.name.capitalize %> </b> avalia o artigo <b> <%= @article.title.upcase %> </b>de <b> <%= @article.author.capitalize %>: </b> </span>
        <%= review.star %>
    </div>
    <div>

       <p><%= review.review_content %></p>
    </div>
    <div>
        <%= link_to "Editar Review", edit_article_review_path(review.article,review) %>
    </div>
    <div>
        <%= link_to "Apagar Review", article_review_path(review.article, review), method: :delete %>
    </div>
    <% end %>
</div>
<%= button_to "Apagar Artigo", article_path(@article), method: :delete %>
<div style="height: 25px"></div>
<%= button_to "Editar Artigo", edit_article_path(@article), method: :get  %>
<div style="height: 25px"></div>

